name: Python application

on:
  schedule: 
    - cron: '15 17 * * *'
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        echo "Hello!!!"
        python --version
        pip --version
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Prepare secrets files
      run: |
        gpg --version
        echo "${{ secrets.FIREBASE_JSON }}" > firebase.json.asc
        ls
        echo "$(<firebase.json.asc)"
        gpg -d --passphrase "${{ secrets.FIREBASE_JSON_PASSPHRASE }}" --batch firebase.json.asc > firebase.json
